@import "~@blueprintjs/core/lib/scss/variables.scss";
.app-titlebar {
  -webkit-app-region: drag;
  app-region: drag;
  user-select: none;
  .app-titlebar-controls {
    -webkit-app-region: no-drag;
    app-region: no-drag;
  }
  box-shadow: $pt-elevation-shadow-1;
  // transform: translate3d(0,0,0);
  .app-titlebar-left-padding {
    padding-left: env(titlebar-area-x);
  }
  .app-titlebar-right-padding {
    padding-right: calc(100vw - env(titlebar-area-width) - env(titlebar-area-x) - 15px);
  }
  // transition: color ease-out 0.15s, background-color ease-out 0.15s;
};

.default-background {
  background-color: $pt-app-background-color;
  .#{$ns}-dark & {
    background-color: $pt-dark-app-background-color;
  }
}

.card-background {
  background-color: $white;
  .#{$ns}-dark & {
    background-color: $dark-gray4;
  }
}

.bp4-card, .bp4-navbar {
  transition: color ease-out 0.1s, background-color ease-out 0.15s;
}

.tab-container {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  &.inactive {
    display: none;
    // visibility: hidden !important;
    // transform: translate(-200vw, -200vh);
    
  }
}

@import './unfuck.scss';
